<div style="width: 300px">
  <owl-date-time-inline [value]="currentValue"
                        [dayStartsAt]="'9:33'"
                        [min]="now"
                        (ngModelChange)="onChange($event)"
                        [isNoMonthSquares]="true"
                        [isHandleDoubleEnter]="true"></owl-date-time-inline>
</div>
<p>Selected: {{currentValue|date:'short'}}</p>


<div style="width: 600px; margin-top: 40px;">
  <owl-date-time-inline [value]="currentValue"
                        [dayStartsAt]="'6:54'"
                        [min]="now"
                        [isNoMonthSquares]="true"
                        [isHandleDoubleEnter]="true"></owl-date-time-inline>
</div>


<div style="width: 800px; margin-top: 40px;">
  <owl-date-time-inline [value]="currentValue"
                        [dayStartsAt]="'9:33'"
                        [min]="now"
                        [isNoMonthSquares]="true"></owl-date-time-inline>
</div>

<label for="daterange">Datetime range (click, then press 'Set' to modify):</label>
<input [(ngModel)]="selectedMoments"
       [selectMode]="'range'"
       [owlDateTimeTrigger]="date_range_component"
       [owlDateTime]="date_range_component"
       style="width: 100%; color: cornflowerblue"
       id="daterange"
       matInput
       style="width: 100%; color: cornflowerblue">

<owl-date-time #date_range_component
               [isNoMonthSquares]="true"
               (change)="clickSchedule($event)"
               [pickerMode]="'popup'"
               [startAt]="currentValue"
></owl-date-time>

<input [(ngModel)]="selectedMoments"
       [owlDateTimeTrigger]="singleDate"
       [owlDateTime]="singleDate"
       matInput
       style="width: 100%; color: cornflowerblue">

<owl-date-time #singleDate
               [isNoMonthSquares]="true"
               (change)="clickSchedule($event)"
               [pickerMode]="'popup'"
               [startAt]="currentValue"
></owl-date-time>
